.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.produit {
  border: 2px solid black;
  border-radius: 10px;
  margin: 15px;
  width: 350px;
  text-align: center;
}


img.photo_produit {
  width: 300px;
}

img {
  width: 300px;

}

tr {
  height: 223px;
}

table {
  background-color: #ffffff;
  -moz-box-shadow: 2px 2px 10px 2px #656565;
-webkit-box-shadow: 2px 2px 10px 2px #656565;
-o-box-shadow: 2px 2px 10px 2px #656565;
box-shadow: 2px 2px 10px 2px #656565;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=10);
}

h1 {
  text-align: center;
  border: 2px solid black;
  color: #ffffff;
  font-weight: bold;
  background-color: #046380;
  width: 50%;
  margin: auto;
  padding: 20px;
}

form {
  text-align: center;
  margin: auto;
  margin-top: 10px;
}
